@import '../../style.scss';

.NavContainer{

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $bgSoft;

    border: 3px solid #f55b0f;
    border-radius: $borderRadius;

    width: 94%;
    height: 50px;

    margin: 20px auto;

    padding: 10px 10px 10px 10px;
    // padding-bottom: 0px;

    border-radius: $borderRadius;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 400;

    #appLogo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: block;
    }

    ul{
        margin-top: 0px;
        margin-bottom: 0px;
        width: 80%;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        
    }
}

.Dashboard, .Incomes, .Expenses{
    text-decoration: underline;
    text-decoration-color: $bgSoft;

}
