@import '../../style.scss';

body{
    background-color: $bg;
}

.Container{
    width: 95%;
    // height: 100%;
    margin: 30px;
    border: $border;
    // border: 5px solid red;
    border-radius: $borderRadius;
    background-color: $bgComponent;
}

.Heading{

    height: 35px;
    font-size: 25px;
    font-weight: 500;

    margin-left: 15px;

    padding: 10px 10px;
}

.TotalIncome{

    background-color: $bgSoft;

    box-shadow: 0px 0px 5px 2px #f55b0f;

    margin: 20px 20px;
    height: 45px;
    padding: 10px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: $border;
    border-radius: $borderRadius;

    font-size: 20px;
    font-weight: 400;


    .TotalAmount{
        margin-left: 5px;
        color: #1dfa00;
    }

    .TotalIncomeText{
        font-size: larger;
        font-weight: 500;
    }
}

.Content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;

}